@import "tailwindcss";
body{
  background-color: black;
}
.gredient{
  background: #26c2ff;
background: linear-gradient(90deg, rgba(38, 194, 255, 1) 0%, rgba(48, 96, 199, 1) 50%, rgba(59, 7, 148, 1) 100%);
}
.card-gredient{
  background: #26c2ff;
background: linear-gradient(90deg, rgb(10, 170, 143) 0%, rgb(10, 209, 176)  100%);
}